<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/resources/css/citasAgendadas-Style.css">
    <link rel="icon" href="/resources/img/Mundogenetioo.jpg">
    <title>Citas Agendadas</title>
</head>
<body>
    
    <header>
        <div class="boton1">
            <a href="/log">
                <button class="btn-cerarsesion">Cerrar sesion</button>
            </a>
        </div>
        <!-- Logo de la aplicacion -->
        <img src="/resources/img/logoMundoGenetico.png" alt="">
    </header>

    <div class="contenedor-citas">

        <ul class = "infoCitas">

            <li class="datosCita">
                Camila Bustamante 
            </li>
    
            <li class="datosCita">
                <span class="separador">| </span>Cita laboratorio medellin
            </li>
    
            <li class="datosCita">
                <span class="separador">| </span>fecha
            </li>
    
            <li class="datosCita">
                <span class="separador">| </span>EPS
            </li>
    
            <li class="datosCita">
                <input type="button" value="Confirmar">
                <input type="button" value="Cancelar">
            </li>
    
        </ul>

        <div class="infoCitas">

            <ul class = "infoCitas">

                <li class="datosCita">
                    Camila Bustamante 
                </li>
        
                <li class="datosCita">
                    <span class="separador">| </span>Cita laboratorio medellin
                </li>
        
                <li class="datosCita">
                    <span class="separador">| </span>fecha
                </li>
        
                <li class="datosCita">
                    <span class="separador">| </span>EPS
                </li>
        
                <li class="datosCita">
                    <input type="button" value="Confirmar">
                    <input type="button" value="Cancelar">
                </li>
        
            </ul>

        </div>

        <div class="infoCitas">

        <ul class = "infoCitas">

            <li class="datosCita">
                Camila Bustamante 
            </li>
    
            <li class="datosCita">
                <span class="separador">| </span>Cita laboratorio medellin
            </li>
    
            <li class="datosCita">
                <span class="separador">| </span>fecha
            </li>
    
            <li class="datosCita">
                <span class="separador">| </span>EPS
            </li>
    
            <li class="datosCita">
                <input type="button" value="Confirmar">
                <input type="button" value="Cancelar">
            </li>
    
        </ul>

        </div>

        <button>Aceptar</button>
        <a href="/regiCita">
            <button class="btn-regresar">Regresar</button>
        </a>
    </div>
</body>
</html>