<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/resources/css/style-login.css">
        <link rel="shortcut icon" href="/resources/img/genetica.png" type="image/x-icon">
        <title>Ingreso al aplicativo</title>
    </head>
    <body>
        <div class="login-box">
            <img class="avatar" src="/resources/img/accesible.png" alt="logo-accesible">
            <h1>Ingrese aqui</h1>
            <form>
                <!-- USERNAME -->
                <label for="username">Usuario</label>
                <input type="text" placeholder="Ingrese su usuario" required>

                <!-- PASSWORD -->
                <label for="password">Contraseña</label>
                <input type="password" placeholder="Ingrese su contraseña" required>

                <a href="/regiCita">
                    <input type="button" value="Ingresar">
                </a>
                
                <a href="/regi">
                    <input type="button" value="Registrarse">
                </a>
                <a href="#">Recuperar contraseña</a><br>
            </form>
        </div>
    </body>
</html>