<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Visualizacion de datos de la cita</title>
        <link rel="stylesheet" href="/resources/css/visualizacionCita-Style.css">
        <link rel="icon" href="/resources/img/Mundogenetioo.jpg">
    </head>

    <body>
        <!-- Imagen encabezado -->
        <div class="ImgHead"> <img src="/resources/img/logoMundoGenetico.png" alt=""></div>
        
        <!-- Boton de cerrado de sesion -->
        <div class="boton1">
            <button class="btn-cerarsesion">Cerrar sesion</button>
        </div>
        <div class="login-box">
            <h1> Nombre del Cliente </h1>
            <img class="avatar" src="/resources/img/perfil.gif" alt="logo-usuario">
            <form action="">
                <p>
                    <!-- Id -->
                    <label for="id">id: </label>
                <p></p>
                </p>
                <p>
                    <!-- Fecha -->
                    <label for="fecha">EPS: </label>
                <p></p>
                </p>
                <p>
                    <!-- ciudad -->
                    <label for="ciudad">Direccion: </label>
                <p></p>
                </p>
                <p>
                    <!-- telefono -->
                    <label for="telefono">Telefono: </label>
                <p></p>
                </p>
                <p>
                    <!-- laboratorio -->
                    <label for="laboratorio">Laboratorio local: </label>
                <p></p>
                </p>
                <p>
                    <!-- costo de la prueba -->
                    <label for="costo-prueba">Cita vigente: </label>
                <p></p>
                </p>
                <!-- boton -->
                <p class="block">
                    <button>Editar</button>
                    <a href="/regiCita">
                        <input type="button" value="Regresar">
                    </a>
                </p>
            </form>
        </div>
    </body>

</html>